<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Inicio" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina de inicio</h1>
    <a href="http://127.0.0.1:8000/app/">Aqui lo llevará a la pagina principal</a>
    <p>(si entrá sin logear solo podrá ver informacion, no modificar o agregar)</p>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/admin/">aquí podra iniciar sesion para poder interactuar (CRUD)</a>
    <p>(requiere crear una cuenta de super usuario a traves de la terminal)</p>
    <p>despues de CREAR la cuenta y LOGEAR, pordrá ingresar a la pagina principal e interactuar</p>

    <p>(una vez logeado, en la pagina principal le aparecera arriba a la derecha su nombre de usuario y podrá interactuar en cada pagina abajo a la derecha)</p>
    
</body>
</html>